.container-primary-uploadpage {
    display: block;
}

.container-primary-uploadpage .container-upload{
    max-width: 80%;
    display: block;
    align-items: center;
    align-self: center;
    justify-content: center;
    margin: 0 auto;
}